<div class="flex-container">
  <form>
    <h1>Add to TooDoo</h1>
    <hr />
    <div class="form-group">
      <label for="InputItem">Item/action</label>
      <input type="text" class="form-control" id="InputItem" name="item" placeholder="Enter item/action name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>