.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.left-login-wrapper, .right-login-wrapper {  
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100vh;
    width: 50vw;
}

.right-login-wrapper {
    background-color: #34495e;
}

.left-login-wrapper {
    background-color: #fbc531;
    flex-direction: column;
}

#rocket-img {
    transform: rotate(-45deg) scale(0.395);
}

.login-form-labels {
    color: #f5f6fa;
}




